#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

install:
	dh $@
	# post-process
	rm -rf $(CURDIR)/debian/bianbu-smart-album-fake/usr/src/bianbu-smart-album-fake/backend/tiorb
	@for bk in fake tiorb; do \
		PKG_DATA=$(CURDIR)/debian/bianbu-smart-album-$${bk}/usr/share; \
		sed -i "s/@VERSION_NUMBER/$(shell cat VERSION_NUMBER)/g" $${PKG_DATA}/*/*.json $${PKG_DATA}/*/*.desktop; \
		sed -i "s/@BACKEND/$${bk}/g" $${PKG_DATA}/*/*.json $${PKG_DATA}/*/*.desktop; \
	done

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_missing:
	dh_missing --fail-missing
