[Desktop Entry]
Type=Application
#Encoding=UTF-8
Version=@VERSION_NUMBER
Name=smart-album
Name[en]=smart-album
Name[zh_CN]=智慧相册
Exec=/usr/bin/bianbu-smart-album @BACKEND
Terminal=true
Icon=/usr/share/icons/bianbu-smart-album/smart-album.png
